<!DOCTYPE html>
<html ng-app="GitSome">
<head>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.0rc4/angular-1.0.0rc4.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.0rc4/angular-resource-1.0.0rc4.min.js"></script>

    <script type="text/javascript" src="gitSome.js"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div ng-controller="GitSomeCtrl">
    <form class="form-horizontal">
        <table>
            <tr>
                <td>
                    <!-- a bit of repetition here. I could construct the buttons from a static array and find a way to
                        alias getPage results, but this doesn't seem too bad.
                    -->
                    <button ng-disabled='!getPage("first")' class="btn btn-light" ng-click='reloadPage(getPage("first"))'>first</button>
                    <button ng-disabled='!getPage("prev")' class="btn btn-light" ng-click='reloadPage(getPage("prev"))'>prev</button>
                    <button ng-disabled='!getPage("next")' class="btn btn-light" ng-click='reloadPage(getPage("next"))'>next</button>
                    <button ng-disabled='!getPage("last")' class="btn btn-light" ng-click='reloadPage(getPage("last"))'>last</button>
                </td>
            </tr>
        </table>
    </form>
    <table class="table table-striped">
        <tr>
            <td>Title</td>
            <td>User</td>
            <td>Assignee</td>
            <td>Body</td>
        </tr>
        <tr ng-repeat="issue in gitResult.data">
            <td><a href="{{issue.url}}">{{issue.title}}</a></td>
            <td><a href="{{issue.user.url}}"><img src="{{issue.user.avatar_url}}" height="42" width="42" />{{issue.user.login}}</a></td>
            <td><a href="{{issue.assignee.url}}"><img ng-hide="!issue.assignee.avatar_url" src="{{issue.assignee.avatar_url}}" height="42" width="42" />{{issue.assignee.login}}</a></td>
            <td>{{issue.body}}</td>
        </tr>
    </table>
</div>
</body>
</html>